@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root{
    --red:#D90832;
    --black:#000000;
    --light-color:#181818;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    --yellow: #FFBD13;
	--light: #F5F5F5;
	--white: #FFF;
	--shadow: 8px 8px 30px rgba(0,0,0,.05);
}


*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
body{
    background-color:var(--light-color);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top:5.5rem;
}
.content .para p{
  height: 100px;
}

section{
    padding: 2rem 9%;
}

section:nth-child(even){
    background:var(--light-color);
}

  header{
    width:100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgba(0, 0, 0, 0.5);
}  

.heading{
    text-align: center;
    color:#D90832;
    margin-bottom: 3rem;
    font-size:4rem;
}

.btn{
    margin-top: 5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    color: #fff;
    background: var(--red);
    border-radius: .5rem;
    cursor: pointer;
    padding: .6rem 1.2rem;
    width: max-content;
}

.btn i:hover{
    background: var(--red);
    color: var(--light);
    letter-spacing: .30rem;
    transition: 0.3s all linear;
}
#btn{
   display: inline-block;
   font-size: 1.7rem;
   color: #fff;
   background: var(--red);
   border-radius: .5rem;
   cursor: pointer;
   padding: .8rem 3rem;
}

#chk1{
    display: none;
     
     
}
i{
    color: #fff;
    cursor: pointer;
}
header .logo{
    flex: 1;
    color:#fff;
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}
header .search-box{
    flex: 1;
    position: relative;
}
.search-box input{
    width:100%;
    height: 40px;
    border: none;
    outline: none;
    background:#f2f2f2;
    border-radius: 30px;
    color:gray;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 40px;
    text-align: center;
     
}
 
.search-box button{
    cursor: pointer;
    width:40px;
    height: 40px;
    border-radius: 30px;
    border:none;
    position: absolute;
    top:0;
    right: 0;
    transform: scale(0.9);
    background: #D90832;
    color: #fff;
}
header nav {
    flex:2;
    display: flex;
    justify-content: space-evenly;
}
header nav li{
    list-style: none;
}
header nav li a{
    text-decoration: none;
    color:#fff;
     font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 15px;
   
}
header nav li a:hover{
    border-bottom: 4px solid #d908329f;
}
header .menu{
    font-size: 2.5em;
    display: none;
}
@media(max-width:1000px){
    .search-box button{
        position: absolute;
    }
    header .navbar{
        position: fixed;
        top:100px;
        right: -100%;
        background: rgba(0, 0, 0, 0.5);
        height: calc(100vh - 100px);
        width:50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
     
    header .menu{
        display: block;
        width:100px;
        text-align: center;
    }
    #chk1:checked ~ .navbar{
        right: 0;
        
    }
  
} 

.home{
    padding:0;
}

.home .box{
    min-height: 100vh;
    display:-webkit-box;
    display:-ms-flexbox;
    display: flex;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;
    justify-content:flex-end;
    padding:2rem 9%;
}

.home .box{
    justify-content: flex-start;
}

.home .box.second{
    justify-content: flex-end;
}

.home .box .content{
    width:50rem;
}

.home .box .content h3{
    font-size: 16px;
    color: #fff;
    padding-top: .5rem;
    text-transform: uppercase;
}

.home .box .content p{
    line-height: 2;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.anime{
    padding:5rem;
}

.anime .box{
    width:200px;
    height:300px;
}

.anime .content h3{
    font-size: 1.7rem;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.anime .content P{
    font-size: 1.2rem;
    color:#fff;
    text-decoration: none;

}

.action{
    padding:5rem;
}

.action .box{
    width:200px;
    height:300px;
}

.action .content h3{
    font-size: 1.7rem;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.action .content P{
    font-size: 1.2rem;
    color:#fff;
    text-decoration: none;

}

.child{
    padding:5rem;
}

.child .box{
    width:200px;
    height:300px;
 }

 .child .content h3{
     font-size: 1.7rem;
     color: #ffffff;
     text-transform: uppercase;
     text-align: left;
 }

 .child .content P{
     font-size: 1.2rem;
     color:#fff;
     text-decoration: none;

 }


.family{
    padding:5rem;
}

.family .box{
    width:200px;
    height:300px;
 }

 .family .content h3{
     font-size: 1.7rem;
     color: #ffffff;
     text-transform: uppercase;
     text-align: center;
 }

 .family .content P{
     font-size: 1.2rem;
     color:#fff;
     text-decoration: none;

 }

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Nunito', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: var(--light-color);
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #D90832;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 9px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
    display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: var(--red);
}


@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


.video-container video{
    width:100%;
    aspect-ratio: 16/9;
}

.about{
    margin-top:2rem;
    color: #fff;;
}

.about h2{
    display: inline-flex;
    font-size: 2.4rem;
    font-weight: bold;
    color:var(--red);
}

.about li{
    display: flex;
    font-size: 2rem;
    color:#ffffff;
    text-align: justify;
    text-decoration: none;
}
.about li i{
    color:var(--yellow);
}


.screenshots h2{
    display: inline-flex;
    font-size: 2.4rem;
    font-weight: bold;
    color:var(--red);
    margin-top:1.6rem;
}

.screenshots-content{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,auto));
    gap:10px;
    justify-content:center;
    margin: auto;
    width: 100%;
}

.screenshots-content img{
    width: 100%;
    height:219.94px;
    object-fit: cover;
    margin-top: 1.6rem;
}

.download{
    max-width: 800px;
    margin: auto;
    width: 100%;
    display: grid;
    justify-content:center;
    margin-top: 2rem;

}

.download h2{
    text-align:center;
    font-size: 2.7rem;
    font-weight: 500;
    margin:1.6rem 0;
    color: #fff;
}

.downlod-links{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
    margin-bottom: 2rem;
    border-radius: 5rem;
}

.downlod-links a{
    text-align:center;
    background: var(--red);
    padding:12px 20px;
    color: #fff;
    letter-spacing:1px;
    font-size: 500;
}

.downlod-links a:hover{
    background-color: var(--light);
    color: var(--red);
    transition: 0.3s all linear;
}


.wrapper {
    background: var(--light-color);
	padding: 2rem;
	max-width: 500px;
	width: 100%;
	border-radius: .75rem;
	box-shadow: var(--shadow);
	text-align: center;
    margin:auto;
}
.wrapper h3 {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 1rem;
    color:var(--white);
}
.rating i{
	justify-content: center;
	align-items: center;
	grid-gap: .5rem;
	font-size: 2rem;
	color: var(--yellow); 
	margin-bottom: 2rem;
}
.rating .star {
	cursor: pointer;
}
.rating .star.active {
	opacity: 0;
	animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}


.rating .star:hover {
	transform: scale(1.1);
}
textarea {
	width: 100%;
	background: var(--light);
	padding: 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	resize: none;
	margin-bottom: .5rem;
}
.btn-group {
	display: flex;
	grid-gap: .5rem;
	align-items: center;
    margin-left:125px; 
}
.btn-group .btn {
	padding: auto;
	border-radius: .5rem;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 15px;
	font-weight: 500;
    align-items: center;

}
.btn-group .btn.submit {
	background: var(--red);
	color: var(--white);
    
}
.btn-group .btn.submit:hover {
	background: var(--red);
}
.btn-group .btn.cancel {
	background: var(--white);
	color: var(--red);
    
}
.btn-group .btn.cancel:hover {
	background: var(--light);
}

.search-results-section {
    padding-top: 100px; 
    min-height: 80vh;
    display: none; 
}


.search-results-container .movie-card {
    position: relative;
    width: 100%; 
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}


.search-results-container .movie-card .content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    text-align:center;
    color: white;
}

.heading {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--main-color);
}























/* media query */
@media (max-width: 768px) {

  .movie-card {
    height: 280px;
  }

  .movie-card .content {
    padding: 10px;
  }

  .movie-card .content h3 {
    font-size: 1.4rem;
  }

  .movie-card .content p {
    font-size: 1.2rem;
    line-height: 1.6;
    
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
